README.txt
build.gradle
forge-1.7.10-10.13.4.1614-1.7.10-changelog.txt
gradlew
gradlew.bat
MinecraftForge-License.txt
MinecraftForge-Credits.txt
LICENSE-fml.txt
CREDITS-fml.txt
.project
.classpath
libs
gradle
eclipse
build
bin
.settings
.metadata
.gradle
lib
